html {
    font-size: 15px; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;
    background-color: beige;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin: 0rem;
    justify-items: center;
}

.banner {
    height: 300px;
    background-color: white;
    box-shadow: black;
    flex: 0 0 auto;
}

@media (min-width: 992px) {
    .banner {
        width: 30.6%;
    }
}